Repository CommunityToolkit/Maui, pull requests merged in 2023-02, with the labels that each got.

#973 Update ExoPlayer binding dependencies
  src/CommunityToolkit.Maui.MediaElement/CommunityToolkit.Maui.MediaElement.csproj
Labels: 📽️ MediaElement

#999 Relax ViewController detection for iOS MediaElement to enable non-Shell usage
  src/CommunityToolkit.Maui.MediaElement/Views/MauiMediaElement.macios.cs
Labels: 📽️ MediaElement

#1002 Fix disposal of MediaElement for Windows
  src/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.windows.cs
Labels: 📽️ MediaElement

#1008 Provide parent view controller to MediaElement iOS
  src/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.macios.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MauiMediaElement.macios.cs
Labels: 📽️ MediaElement

#953 Implement Mediaelement ShouldMute
  samples/CommunityToolkit.Maui.Sample/Pages/Views/MediaElement/MediaElementPage.xaml
  samples/CommunityToolkit.Maui.Sample/Pages/Views/MediaElement/MediaElementPage.xaml.cs
  src/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.net.cs
  src/CommunityToolkit.Maui.MediaElement/Handlers/MediaElementHandler.shared.cs
  src/CommunityToolkit.Maui.MediaElement/Interfaces/IMediaElement.cs
  src/CommunityToolkit.Maui.MediaElement/MediaElement.shared.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.android.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.macios.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.shared.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.tizen.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.windows.cs
Labels: 📽️ MediaElement

#1021 StateContainer, Add `ChangeStateWithAnimation()`
  samples/CommunityToolkit.Maui.Sample/Pages/Layouts/StateContainerPage.xaml
  samples/CommunityToolkit.Maui.Sample/Pages/Layouts/StateContainerPage.xaml.cs
  samples/CommunityToolkit.Maui.Sample/ViewModels/Layouts/StateContainerViewModel.cs
  src/CommunityToolkit.Maui.UnitTests/CommunityToolkit.Maui.UnitTests.csproj
  src/CommunityToolkit.Maui.UnitTests/Layouts/StateContainerTests.cs
  src/CommunityToolkit.Maui/Layouts/StateContainer/StateContainer.shared.cs
  src/CommunityToolkit.Maui/Layouts/StateContainer/StateContainerController.shared.cs
Labels: approved

#1009 Add `FileSaverResult` and `FolderPickerResult`, Fix Initial folder on Android
  samples/CommunityToolkit.Maui.Sample/ViewModels/Essentials/FileSaverViewModel.cs
  samples/CommunityToolkit.Maui.Sample/ViewModels/Essentials/FolderPickerViewModel.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/FileSaver.shared.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/FileSaverImplementation.android.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/FileSaverImplementation.macios.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/FileSaverImplementation.net.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/FileSaverImplementation.shared.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/FileSaverImplementation.tizen.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/FileSaverImplementation.windows.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/FileSaverResult.shared.cs
  src/CommunityToolkit.Maui.Core/Essentials/FileSaver/IFileSaver.shared.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/FolderPicker.shared.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/FolderPickerImplementation.android.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/FolderPickerImplementation.macios.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/FolderPickerImplementation.net.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/FolderPickerImplementation.shared.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/FolderPickerImplementation.tizen.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/FolderPickerImplementation.windows.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/FolderPickerResult.shared.cs
  src/CommunityToolkit.Maui.Core/Essentials/FolderPicker/IFolderPicker.shared.cs
  src/CommunityToolkit.Maui.UnitTests/Essentials/FileSaverTests.cs
  src/CommunityToolkit.Maui.UnitTests/Essentials/FolderPickerTests.cs
  src/CommunityToolkit.Maui.UnitTests/Mocks/FileSaverImplementationMock.cs
  src/CommunityToolkit.Maui.UnitTests/Mocks/FolderPickerImplementationMock.cs
Labels: approved

#1011 Semantic OrderView
  samples/CommunityToolkit.Maui.Sample/AppShell.xaml.cs
  samples/CommunityToolkit.Maui.Sample/MauiProgram.cs
  samples/CommunityToolkit.Maui.Sample/Pages/Views/SemanticOrderView/SemanticOrderViewPage.xaml
  samples/CommunityToolkit.Maui.Sample/Pages/Views/SemanticOrderView/SemanticOrderViewPage.xaml.cs
  samples/CommunityToolkit.Maui.Sample/ViewModels/Views/SemanticOrderView/SemanticOrderViewPageViewModel.cs
  samples/CommunityToolkit.Maui.Sample/ViewModels/Views/ViewsGalleryViewModel.cs
  src/CommunityToolkit.Maui.Core/Handlers/SemanticOrderView/SemanticOrderViewHandler.android.cs
  src/CommunityToolkit.Maui.Core/Handlers/SemanticOrderView/SemanticOrderViewHandler.macios.cs
  src/CommunityToolkit.Maui.Core/Handlers/SemanticOrderView/SemanticOrderViewHandler.net.cs
  src/CommunityToolkit.Maui.Core/Handlers/SemanticOrderView/SemanticOrderViewHandler.shared.cs
  src/CommunityToolkit.Maui.Core/Handlers/SemanticOrderView/SemanticOrderViewHandler.tizen.cs
  src/CommunityToolkit.Maui.Core/Handlers/SemanticOrderView/SemanticOrderViewHandler.windows.cs
  src/CommunityToolkit.Maui.Core/Interfaces/ISemanticOrderView.shared.cs
  src/CommunityToolkit.Maui.Core/Views/SemanticOrderView/MauiSemanticOrderView.android.cs
  src/CommunityToolkit.Maui.Core/Views/SemanticOrderView/MauiSemanticOrderView.ios.cs
  src/CommunityToolkit.Maui.Core/Views/SemanticOrderView/MauiSemanticOrderView.tizen.cs
  src/CommunityToolkit.Maui.Core/Views/SemanticOrderView/MauiSemanticOrderView.windows.cs
  src/CommunityToolkit.Maui.UnitTests/Mocks/MockSemanticOrderViewHandler.cs
  src/CommunityToolkit.Maui.UnitTests/Views/SemanticOrderView/SemanticOrderViewTests.cs
  src/CommunityToolkit.Maui/AppBuilderExtensions.shared.cs
  src/CommunityToolkit.Maui/Views/SemanticOrderView/SemanticOrderView.shared.cs
Labels: documentation approved
