Repository CommunityToolkit/Maui, pull requests merged in 2024-08, with the labels that each got.

#1630 Transparent status bar color android
  samples/CommunityToolkit.Maui.Sample/Pages/Behaviors/StatusBarBehaviorPage.xaml
  samples/CommunityToolkit.Maui.Sample/Pages/Behaviors/StatusBarBehaviorPage.xaml.cs
  samples/CommunityToolkit.Maui.Sample/ViewModels/Behaviors/StatusBarBehaviorViewModel.cs
  src/CommunityToolkit.Maui.Core/Platform/StatusBar/StatusBar.android.cs
Labels: help wanted, stale

#2067 [FIX] Windows CTD on Application Close
  src/CommunityToolkit.Maui.MediaElement/Extensions/PageExtensions.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.windows.cs
  src/CommunityToolkit.Maui.UnitTests/Mocks/MockWindowHandler.cs
  src/CommunityToolkit.Maui.UnitTests/Views/MediaElement/ParentWindowTests.cs
Labels: 📽️ MediaElement

#1986 Fix Media Element Poster not showing on Windows/iOS/Mac
  samples/CommunityToolkit.Maui.Sample/Pages/Views/MediaElement/MediaElementPage.xaml.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.macios.cs
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.windows.cs
Labels: 📽️ MediaElement

#2108 Enhance media player with artwork display support
  src/CommunityToolkit.Maui.MediaElement/Views/MediaManager.android.cs
Labels: 📽️ MediaElement

#2039 Enhance service lifecycle and exit strategy
  samples/CommunityToolkit.Maui.Sample/Platforms/Android/AndroidManifest.xml
  src/CommunityToolkit.Maui.MediaElement/Services/MediaControlsService.android.cs
Labels: 📽️ MediaElement

#2085 Add a failure reason to the MediaCaptureFailedEventArgs
  src/CommunityToolkit.Maui.Camera/CameraManager.android.cs
  src/CommunityToolkit.Maui.Camera/CameraManager.macios.cs
  src/CommunityToolkit.Maui.Camera/CameraManager.windows.cs
  src/CommunityToolkit.Maui.Camera/Interfaces/ICameraView.shared.cs
  src/CommunityToolkit.Maui.Camera/Primitives/MediaCaptureFailedEventArgs.shared.cs
  src/CommunityToolkit.Maui.Camera/Views/CameraView.shared.cs
  src/CommunityToolkit.Maui.UnitTests/Views/CameraView/CameraViewTests.cs
Labels: breaking change

#1983 Improve the usage experience with IsInRangeConverter in XAML
  src/CommunityToolkit.Maui.UnitTests/Converters/IsInRangeConverterTests.cs
  src/CommunityToolkit.Maui/Converters/IsInRangeConverter.shared.cs
Labels: needs discussion

#2145 Fix Android App Exit On Back button pressed
  src/CommunityToolkit.Maui.MediaElement/Services/MediaControlsService.android.cs
Labels: 📽️ MediaElement
